table.shoping-cart-table {
    margin-bottom: 0;
}

table.shoping-cart-table tr td {
    border: none;
}

.product-name {
    font-size: 16px;
    font-weight: 600;
    color: #676a6c;
    display: block;
    margin: 2px 0 5px 0;
}

.product-name:hover,
.product-name:focus {
    color: #1ab394;
}

/* INVOICE */
.widget .invoice-total {
    margin: 15px 0;
}

.invoice-table tbody > tr > td:last-child, .invoice-table tbody > tr > td:nth-child(4), .invoice-table tbody > tr > td:nth-child(3), .invoice-table tbody > tr > td:nth-child(2) {
    text-align: right;
}

.invoice-table thead > tr > th:last-child, .invoice-table thead > tr > th:nth-child(4), .invoice-table thead > tr > th:nth-child(3), .invoice-table thead > tr > th:nth-child(2) {
    text-align: right;
}

.invoice-total > tbody > tr > td:first-child {
    text-align: right;
}

.invoice-total > tbody > tr > td {
    border: 0 none;
    padding-left: 0;
    padding-right: 0;
}

.invoice-total > tbody > tr > td:last-child {
    border-bottom: 1px solid #DDDDDD;
    text-align: right;
    width: 15%;
}

.touchspin {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.order-item .item-inner{
    margin-left: 20px;
    position: relative;
    min-height: 100px;
}
.order-item .item-thumb{
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    position: absolute;
    border-radius: 3px;
    overflow: hidden;
}
.order-item .item-thumb .label{
    position: absolute;
    bottom: 0;
    left: 0;
}

.order-item .item-details {
    margin-left: 115px;
}
.order-item .item-details .item-title{
    margin-top: 0;
}
.order-item .item-details .col-info{
    width: 50%;
    float: left;
}
.more {
    overflow: hidden;
    display: block;
}

.no-content{
    text-align: center;
    padding: 50px 10px;
}
.no-content .icon{
    font-size: 80px;
    margin-bottom: 20px;
}
.no-content .title{
    font-size: 18px;
}
.no-content .subtitle{

}